<footer class="footer" style="background-color: #6096BA; color: aliceblue;">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
              
                <li>
                    <a href="https://github.com/juanllano3311" style="color: aliceblue;">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a style="color: aliceblue;">
                        Llanotaborda@gmail.com
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right" style="color: aliceblue;">
            &copy; {{test | date: 'yyyy'}} |Juan Sebastian Llano Taborda || Full Stack Devloper
        </p>
    </div>
</footer>
