<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">INICIO</a>
    <a href="#login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ENTRAR</a>
    <a href="#registro" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REGISTRO</a>
    
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MAS <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href='#/guest' class="w3-bar-item w3-button">LOGIN/REGISTRO</a>
        <a href="#" class="w3-bar-item w3-button" onclick="document.getElementById('ticketModal2').style.display='block'">REGISTRO</a>
        <a href="#" class="w3-bar-item w3-button" onclick="document.getElementById('ticketModal1').style.display='block'">EXPERIENCIAS</a>
        <a href="#" class="w3-bar-item w3-button">CONTACTANOS</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>>


  <!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:10px">


</div>

          <img class="d-block w-100" src="assets/img/BannerTravel.gif" alt="First slide">
       

<section>
   
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="/w3images/la.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Los Angeles</h3>
      <p><b>Una ciudad con mucho por conocer!</b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="assets/img/NY.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>New York</h3>
      <p><b>La ciudad mas amada!</b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="/w3images/chicago.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Medellín</h3>
      <p><b>La ciudad de la eterna primavera!</b></p>    
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">TRAVEL HOUSE</h2>
    <p class="w3-opacity"><i>Red ayuda internacional</i></p>
    <p class="w3-justify">Hoy en día, miles de personas salen en busca de cumplir su sueño de viajar por el mundo, cada vez es mas facil y sencillo hacerlo; solo tienes que empacar tus maletas, unos
cuantos dolares y partir. El unico problema es como ahorrar en alojamiento. La solución es muy simple, en la red existen sientos de redes de apoyo para viajeros, donde se brinda
hospedaje a las personas, pero todo sigue muy disperso en las redes sociales. Con un aplicativo, donde puedas encontrar apoyo por sectores, calificar al huesped y a la persona que
brinda la posada, e incluso verificar nuevos miembros se podria facilitar y mejorar la seguridad en este tipo de apoyos.</p>
    <div class="w3-row w3-padding-32">
       <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal1').style.display='block'">Testimonios de experiencia</button>
    </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Lugares para visitar</h2>
      <p class="w3-opacity w3-center"><i>Recuerda reservar primero!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="assets/img/NY.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>New York</b></p>
            <p class="w3-opacity">Disfruta</p>
            <p>La ciudad mas amada por el mundo!</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal5').style.display='block'">Mas información</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="assets/img/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Paris</b></p>
            <p class="w3-opacity">Explora</p>
            <p>La ciudad del arte y el mejor gourmete!</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal4').style.display='block'">Mas información</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="assets/img/medellin.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Medellín</b></p>
            <p class="w3-opacity">Conoce</p>
            <p>La ciudad de la eterna primavera!</p>
            <button href="https://www.medellin.travel/" class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal3').style.display='block'">Mas Información</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <div id="ticketModal3" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal3').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Medellín</h2>
      </header>
      <div class="w3-container">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H8-ij0mG2jM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal3').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Mas <a href="https://www.medellin.travel/" target="_blank" class="w3-text-blue">información?</a></p>
      </div>
    </div>
  </div>

  <div id="ticketModal1" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal1').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Testimonios</h2>
      </header>
      <div class="w3-container">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8do4xZD8AfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal1').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Quieres <a href="#" class="w3-text-blue">registrarte?</a></p>
      </div>
    </div>
  </div>
  
   <div id="ticketModal4" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal4').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Paris</h2>
      </header>
      <div class="w3-container">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kWgpqx-bOAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal4').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Mas <a href="https://www.paris.es/que-ver/" target="_blank" class="w3-text-blue">información?</a></p>
      </div>
    </div>
  </div>

   <div id="ticketModal5" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal5').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>New York</h2>
      </header>
      <div class="w3-container">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZyyEMrdwuWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal5').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Mas <a href="https://www.anuevayork.com/que-hacer-nueva-york-top-20//" target="_blank" class="w3-text-blue">información?</a></p>
      </div>
    </div>
  </div>

  <div id="ticketModal2" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal2').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Ingreso/Registro</h2>
      </header>
      <div class="w3-container">
<div id="logreg-forms">
        <form class="form-signin">
            
      <!--  <form >
            <div class="centrado">
               <label for="inputUser">Usuario</label>
               <input type="text" class="form-control" placeholder="Username" id="username" name="username"
               [(ngModel)]="username" required>
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                    [(ngModel)]="password" required>
            </div>
            
             <a  class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="login()">Ingresar</a>
         
          </form> -->
        
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            
             <button class="btn btn-primary btn-block" onclick="document.getElementById('ticketModal22').style.display='block'"><i class="fas fa-user-plus"></i> Registrar nueva cuenta</button>
            </form>

            <form action="/reset/password/" class="form-reset">
                <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <button class="btn btn-primary btn-block" type="submit">Reiniciar contraseña</button>
                <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Volver</a>
            </form>
            
            <form action="/signup/" class="form-signup">
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Registrate con Facebook</span> </button>
                </div>
                <div class="social-login">
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Registrate con Google+</span> </button>
                </div>
                
                <p style="text-align:center">O</p>

                <input type="text" id="user-name" class="form-control" placeholder="Nombre completo" required="" autofocus="">
                <input type="email" id="user-email" class="form-control" placeholder="Email" required autofocus="">
                <input type="password" id="user-pass" class="form-control" placeholder="Contraseña" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Repetir contraseña" required autofocus="">

                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Registro</button>
                <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Volver</a>
            </form>
            <br>
            
    </div>
    <p style="text-align:center">
        <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
})g" target="_blank" style="color:black"></a>
    </p>
        <!--  <p><label><i class="fa fa-shopping-cart"></i> prueba</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>-->
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal2').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Necesitas <a href="#" class="w3-text-blue">ayuda?</a></p>
      </div>
    </div>
  </div>

  <div id="ticketModal22" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal22').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Ingreso/Registro</h2>
      </header>
      <div class="w3-container">
<div id="logreg-forms">
   <div class="form">
       <!-- <form >
            <div class="centrado">
               <label for="inputUser">Usuario</label>
               <input type="text" class="form-control" placeholder="Username" id="username" name="username"
               [(ngModel)]="username" required>
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                [(ngModel)]="password" required>
            </div>
                                  
          
            <a  class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="onRegister()">Registrar</a>
         <hr>
         <button class="btn btn-primary btn-block" onclick="document.getElementById('ticketModal2').style.display='block'"><i class="fas fa-user-plus"></i> Ingresar</button>
          </form> -->
        </div>     
                              
            

            <form action="/reset/password/" class="form-reset">
                <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <button class="btn btn-primary btn-block" type="submit">Reiniciar contraseña</button>
                <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Volver</a>
            </form>
            
            <form action="/signup/" class="form-signup">
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Registrate con Facebook</span> </button>
                </div>
                <div class="social-login">
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Registrate con Google+</span> </button>
                </div>
                
                <p style="text-align:center">O</p>

                <input type="text" id="user-name" class="form-control" placeholder="Nombre completo" required="" autofocus="">
                <input type="email" id="user-email" class="form-control" placeholder="Email" required autofocus="">
                <input type="password" id="user-pass" class="form-control" placeholder="Contraseña" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Repetir contraseña" required autofocus="">

                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Registro</button>
                <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Volver</a>
            </form>
            <br>
            
    </div>
    <p style="text-align:center">
        <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
})g" target="_blank" style="color:black"></a>
    </p>
        <!--  <p><label><i class="fa fa-shopping-cart"></i> prueba</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>-->
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal22').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Necesitas <a href="#" class="w3-text-blue">ayuda?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACTO</h2>
    <p class="w3-opacity w3-center"><i>Escribenos!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Medellín, CO<br>
        <i class="fa fa-phone" style="width:30px"></i> Telefono: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@travel-house.com.co<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Nombre" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Mensaje" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">ENVIAR</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">

<!-- Footer -->
<div class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Hecho en Colombia <a href="http://jaimevargas.tonohost.com/" target="_blank"><img src="assets/img/iconcol.png" width="50" height="50"></a></p>
</div>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
var modal = document.getElementById('ticketModal2');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

function toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>
<div class="banner3">

</div>
</section>    
<footer-cmp></footer-cmp>


<!-- <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="container punteado">





        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <img src="assets/img/edificio.png" alt="logo" class="logo">
                    <a class="navbar-brand viajemos" href="#">TRAVEL HOUSE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#/login" style="margin-left: 700%;" >Ingresar <span
                                        class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" href="#/registro" style="margin-left: 550%;" >Registrarse <span
                                        class="sr-only">(current)</span></a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <hr>

        <div class="row" style="margin-left: 3%; margin-right: 3%;">
            <h1 style="color: black; text-align: center;">BIENVENIDO!!</h1>
            <div class="col-12">
                <p class="text-justify" style="color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Asperiores repellat, quam iste vitae porro ducimus qui molestiae molestias reiciendis nesciunt!
                    Placeat in iste similique dolores veritatis ut, illum amet quam saepe dolorem et atque totam
                    voluptatem temporibus ratione libero nemo, consequatur, nisi fugit quia commodi. lorem50 </p>
            </div>
    
        </div>


        

        <div class="row tamano">
            <div class="col-12 col-md-6">
                <img src="assets/img/banner2.jpg" alt="" class="imagenes">
            </div>

            <div class="col-12 col-md-6">
                <h1 style="color: black; text-align: center;">COMO ENCONTRAR UNA CASA</h1>
                <p class="text-justify" style="color: black;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Praesentium nisi totam minus error officia? Doloremque ab sequi eum in eius optio consequatur,
                    blanditiis laborum, vero veritatis nostrum voluptatibus quaerat quo deleniti neque dolores id
                    itaque, iste ratione. Et minima consectetur at eum quod mollitia repudiandae laborum quam quae
                    beatae enim sit molestiae doloribus repellat maiores unde facere magni, provident magnam! Mollitia,
                    debitis id quisquam error voluptatem omnis vero quae commodi, eius expedita vel quod iste animi
                    alias nisi tempore ut, autem ullam cum deserunt maiores sapiente. Maiores, praesentium sapiente
                    animi beatae exercitationem ratione nesciunt dicta? Iusto officiis voluptates possimus facere.</p>
            </div>
            <div class="col-12 col-md-6">
            </div>
        </div>








        <div class="row lineal tamano" style=" margin-top: 3%;">
            <h1 class="tamano" style="color: black; text-align: center; margin-left: -2%;">BUSCA UNA CASA DE TU AGRADO</h1>
            <div class="col-12">
                <form action="" style="padding: 5px; width: 50%; margin-left: 25%;">
                    <div class="form-row formu">
                        <div class="col-md-6" style="height: 10%;">
                            <label for="pais" class="form-label letra">Pais</label>
                            <input type="text" class="form-control  pc" id="pais" name="pais" [(ngModel)]="pais">
                        </div>
                        <div class="col-md-6">
                            <label for="ciudad" class="form-label letra ">Ciudad</label>
                            <select class="form-control  pc" id="ciudad" name="ciudad" [(ngModel)]="ciudad">
                                <option selected>Escoger...</option>
                                <option>Bogota</option>
                                <option>Medellin</option>
                                <option>Cali</option>
                                <option>Barranquilla</option>
                                <option>Cartagena</option>
                                <option>Bucaramanga</option>
                                <option>Santa Marta</option>
                                <option>Manizales</option>
                                <option>Pereira</option>
                                <option>Cucuta</option>
                                <option>IBague</option>
                                <option>Armenia</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" style="background-color: #8B8C89; color: #FAEAC0; margin-top: 3%;margin-left: 42%;"
                            name="submit" class="btn btn-md boton pc" value="BUSCAR" (click)="BuscarCasa()">
                    </div>

                </form>
            </div>
            <div class="col-12 col-md-4 " *ngFor="let casa of casas" style="margin-top: 3%;">
                <center>
                <div class="card tarjeta" style="width: 30rem;">
                    <img src="{{casa.priimagen}}" class="card-img-top foto" alt="foto_casa">
                    <div class="card-body">
                        <center>
                            <h4 class="card-title">{{casa.pais}}</h4>
                            <h5>{{casa.ciudad}}</h5>
                            <p>{{casa.direccion}}</p>
                            <p class="card-text">Disponible</p>
                            <small class="text-justify" style="font-size: 10px;">Para hacer una reserba tienes que registrarte luego iniciar sesion</small>

                        </center>
                    </div>
                </div>
            </center>
            </div>

        </div>

        <div class="row tamano">
            <div class="col-12 col-md-6">
                <h1 style="color: black; text-align: center;">OFRECE TU CASA</h1>
                <p class="text-justify" style="color: black;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Praesentium nisi totam minus error officia? Doloremque ab sequi eum in eius optio consequatur,
                    blanditiis laborum, vero veritatis nostrum voluptatibus quaerat quo deleniti neque dolores id
                    itaque, iste ratione. Et minima consectetur at eum quod mollitia repudiandae laborum quam quae
                    beatae enim sit molestiae doloribus repellat maiores unde facere magni, provident magnam! Mollitia,
                    debitis id quisquam error voluptatem omnis vero quae commodi, eius expedita vel quod iste animi
                    alias nisi tempore ut, autem ullam cum deserunt maiores sapiente. Maiores, praesentium sapiente
                    animi beatae exercitationem ratione nesciunt dicta? Iusto officiis voluptates possimus facere.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="assets/img/banner3.jpg" alt="" class="imagenes">
            </div>
        </div>

        <div class="row tamano">
            <div class="col-12">
                <h1 style="text-align: center; color: black;">TU BENEDICIO:</h1>
                <p style="color: black;" class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Sapiente ipsum, atque nihil, perferendis sint fuga ullam alias nulla consectetur a est maxime
                    reprehenderit quis blanditiis. Quisquam reiciendis fugit id quas.</p>
            </div>
        </div>
    </div>
</body>
<footer>

</footer> -->